blockquote,
blockquote p {
    display: block;
    font-size: medium;
    line-height: var(--line-height);
    text-align: var(--justify-normal);
    border-right: none;
    border-left: 0.25rem solid var(--color-accent);
    padding: 0 0 0 1rem;
    margin-left: 0;
}

blockquote p {
    border-left: none;
}

blockquote footer {
    color: var(--color-text);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
}

* {
    scrollbar-width: auto;
}

nav {
    margin-bottom: 1rem;
}